/* aash1010 */
#slide-panel {
    width:300px;
    height:800px;
    padding:10px;
    background:#eee;
    margin-left:-300px;
    float: left;
    max-width: 300px;
}
#opener {
    float:right;
    margin:-10px -50px 0px 0px;
    border-radius:0;
}
#content
{
    height: 500px;
    width: 100%;
    float: left;
	padding-left: 5%;
}